# Ignorer les fichiers de configuration locaux
.env

# Ignorer les répertoires node_modules pour éviter de copier les dépendances locales
node_modules

# Ignorer les fichiers de cache npm
npm-cache

# Ignorer les fichiers de build locaux (si vous les générez localement)
dist
build

# Ignorer les fichiers de logs
logs
*.log

# Ignorer les fichiers temporaires et de cache
tmp
*.tmp

# Ignorer les fichiers spécifiques à l'IDE

.idea

# Ignorer les fichiers de configuration Docker
.docker

# Ignorer les fichiers de cache Docker
.dockerignore

# Ignorer les fichiers de configuration de linting
.eslintcache

# Ignorer les fichiers de configuration de déploiement
.deploy





