.idea
.vscode/

# Ignorer les fichiers et dossiers générés par Node.js
node_modules/



# Ignorer les fichiers de build
dist/
build/

# Ignorer les fichiers de log
logs/
*.log

# Ignorer les fichiers de cache
.cache/
*.cache

# Ignorer les fichiers de dépendances
yarn.lock
package-lock.json